#videos-div {
    position: relative;
}

.main-video {
    top: 0;
    left: 0;
}

:fullscreen {
    cursor: none;
}

/* second video overlaps first -> size of videos is still respected */
#video0 {
    position: relative;
}

#video1 {
    position: absolute;
}
