body {
    margin: 0px;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
}

div.player {
    display: flex;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
}

video {
    min-width: inherit;
    max-width: inherit;
    width: inherit;
}
